@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html,
body {
  background-color: #222222;
  font-family: "Lato", sans-serif;
  isolation: isolate;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(37, 37, 37);
  background-size: 100% 100%;
  background-position: 0 0;
  z-index: -99;
}
